.jumbotron {
    background-image: url("https://images.all-free-download.com/images/graphicthumb/abstract_smooth_wave_background_vector_grapihic_art_569579.jpg");
    background: transparent;
}

.nav-link {
    font-weight: bolder;
    text-decoration-color: red;
}